###############################################################
# WhiteSource Unified-Agent configuration file
###############################################################
# GENERAL SCAN MODE: Files and Package Managers
###############################################################
# Organization vitals
######################

apiKey=

projectName=
projectVersion=
projectToken=

productName=
productVersion=
productToken=

wss.url=https://saas.whitesourcesoftware.com/agent

############
# Policies #
############
checkPolicies=false
forceCheckAllDependencies=false
forceUpdate=false
forceUpdate.failBuildOnPolicyViolation=false

###########################################################################################
# Includes/Excludes Glob patterns - Please use only one exclude line and one include line #
###########################################################################################
includes=**/*.c **/*.cc **/*.cp **/*.cpp **/*.cxx **/*.c++ **/*.h **/*.hpp **/*.hxx **/*.jar **/*.kt **/*.aar
#includes=**/*.m **/*.mm  **/*.js **/*.php
#includes=**/*.jar
#includes=**/*.gem **/*.rb
#includes=**/*.dll **/*.cs **/*.nupkg
#includes=**/*.tgz **/*.deb **/*.gzip **/*.rpm **/*.tar.bz2
#includes=**/*.zip **/*.tar.gz **/*.egg **/*.whl **/*.py

case.sensitive.glob=false
followSymbolicLinks=true

#Exclude file extensions or specific directories by adding **/*.<extension> or **/<excluded_dir>/**
excludes=**/*sources.jar **/*javadoc.jar

go.resolveDependencies=false
ant.resolveDependencies=false
maven.resolveDependencies=false
html.resolveDependencies=false
npm.resolveDependencies=false

gradle.preferredEnvironment=wrapper
gradle.aggregateModules=true
gradle.runAssembleCommand=false
gradle.ignoredConfigurations=.*test.* .*lint.*

## dummy just to satisfy git-flow plugin
gradle.additionalArguments=-Pbranch=develop